<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>HR Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/leftnavbar.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Employee Portal</label>
    <ul>
        <li><a href="/emp/profile" class="active">My Profile</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</nav>
<div class="sidenav">
</div>
<section>
    <h1 class="sectiondata">Employee Details</h1>
    <table id="profile">

    </table>
    <div class="status" id="status">

    </div>
</section>

</body>
<script type="text/javascript" th:src="@{/js/emp/empProfile.js}"></script>
</html>