<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>HR Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/leftnavbar.css}" />
    <link rel="stylesheet" th:href="@{/css/addemp.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">HR Portal</label>
    <ul>
        <li><a class="active" href="/hr/addemp">Add Emp</a></li>
        <li><a href="/hr/removeemp">Remove Emp</a></li>
        <li><a href="/hr/empdetails">Emp Details</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</nav>

<section class="sectiondata">
    <h1> Add Employee</h1>

    <section>
        <div class="wrapper">
            <div id="status" class="status">

            </div>
            <form id="form">
                <div class="field" >
                    <input type="email" id="email" required>
                    <label>Email Address</label>
                </div>
                <div class="field" >
                    <input type="text" id="name" required>
                    <label>Name</label>
                </div>
                <div class="field" >
                    <input type="password" id="password" required>
                    <label>Password</label>
                </div>
                <div class="field" >
                    <input type="number" id="salary" required>
                    <label>Salary</label>
                </div>
                <div class="field" >
                    <input type="number" id="role" required>
                    <label>Role</label>
                </div>
                <div class="field">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>


    </section>
</section>

</body>
<script type="text/javascript" th:src="@{/js/hr/addEmp.js}"></script>

</html>